$base-font: 16;
$line-height: 24;
$font-montserrat: 'Montserrat', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$col-azul: #1e66de;
$col-azure: #128cf4;
$col-lightblue: #2965d9;
$col-darkblue: #2150ad;
$col-black: #333;
$col-lipstick: #de1e3d;
$col-warm-grey: #888;
$col-white: #fff;
$col-white-two: #f8f8f8;
$col-white-three: #ddd;
