@import 'fonts';

// extra small < 360px
$small: 360px;
$medium: 1024px;
$large: 1440px;
$breakpoints: (small: $small, medium: $medium, large: $large);

@import '_include-media';

@import 'election-countdown';
