@import "fonts";
@import "vars";

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: $font-opensans;
  color: white;
}

.election-promo {
  background-color: $col-lightblue;
  display: flex;
  flex-direction: column;
}

.election-promo__top {
  display: flex;
  height: 124px;
}

.election-promo__top-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
}

.election-promo__logo {
  align-items: center;
  display: flex;
  flex: 0 1 120px;
  justify-content: center;
  min-width: 100px;
}

.election-promo__logo a {
  width: 88px;
  height: 88px;
  display: block;
}

.election-promo__logo img {
  width: 100%;
}

.election-promo .election-promo__news {
  font-family: $font-montserrat;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 600;
  margin: 0 0 10px;
}

.election-promo__countdown {
  display: flex;
}

.election-countdown__left {
  display: flex;
  font-size: 16px;
  border-bottom: 1px solid white;
}

.election-countdown__left .election-countdown__diff {
  font-weight: bold;
  margin-right: 5px;
}

.opt-in__opt-in-tease {
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.7px;
  line-height: 1.83;
  text-align: center;
  text-transform: uppercase;
}

.opt-in {
  background-color: $col-darkblue;
}
