@import 'vars';

html {
  font-size: 62.5%; // make it so we can use base-10 rems
  font-family: $font-opensans;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%countdown-col {
  width: 50%;
  display: flex;
  align-items: center;
}

.election-countdown {
  background-color: $col-azul;
  color: $col-white;
  font-size: 1.4rem;
  display: flex;
  padding: 8px 16px;

  a {
    color: $col-white;
  }

  &__left {
    @extend %countdown-col;
  }

  &__right {
    @extend %countdown-col;
    justify-content: flex-end;

    > div {
      margin-left: 24px;
    }
  }

  &__cal {
    color: $col-azul;
    font-weight: 600;
    font-size: 1.8rem;
    height: 56px;
    width: 56px;
    margin-right: 16px;

    &__icon {
      position: absolute;
      z-index: 0;
    }

    &__diff {
      position: relative;
      z-index: 1;
      text-align: center;
      margin-top: 15px;
      font-size: 2.2rem;
    }
  }

  &__header {
    font-family: $font-montserrat;
    font-style: italic;
    font-weight: 600;
  }
}
