@import 'vars';
@import 'fonts';

// extra small < 360px
$small: 360px;
$medium: 1024px;
$large: 1440px;
$breakpoints: (small: $small, medium: $medium, large: $large);

@import '_include-media';

.election-countdown {
  background-color: $col-azul;
  color: $col-white;
  display: flex;
  font-size: 1.4rem;
  padding: 16px;
  text-align: left;
  height: 70px;
  max-width: 680px;

  a {
    color: $col-white;
  }

  &__left {
    align-items: center;
    display: flex;
    font-family: $font-montserrat;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.38;
    width: 60%;

    @include media('>=medium') {
      width: 50%;
    }
  }

  &__right {
    line-height: 1.57;
    width: 40%;

    > div {
      margin-left: 24px;
    }

    @include media('>=medium') {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &__diff {
    font-size: 4.4rem;
    line-height: .5;
    margin-right: 16px;
  }
}
