@import "fonts";
@import "vars";

.election-countdown {
  background-color: $col-azul;
  color: $col-white;
  display: flex;
  font-size: 12px;
  padding: 16px;
  text-align: left;
  height: 70px;
  max-width: 680px;

  a {
    color: $col-white;
  }

  &__left {
    align-items: center;
    display: flex;
    font-family: $font-montserrat;
    font-weight: 600;
    line-height: 1.38;
    width: 60%;

    @include media('>=medium') {
      width: 50%;
      font-size: 16px;
    }
  }

  &__right {
    line-height: 1.57;
    width: 40%;

    > div {
      margin-left: 24px;
    }

    @include media('>=medium') {
      align-items: center;
      display: flex;
      font-size: 14px;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &__diff {
    font-size: 44px;
    line-height: .5;
    margin-right: 16px;
  }
}
