@import "fonts";
@import "vars";

.election-countdown {
  background-color: $col-azul;
  color: $col-white;
  display: flex;
  font-size: 14px;
  padding: 16px;
  text-align: left;
  height: 70px;
  max-width: 680px;

  a {
    color: $col-white;
  }

  &__left {
    align-items: center;
    display: flex;
    font-family: $font-montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    width: 62%;

    @include media("<=400px") {
      font-size: 14px;
    }
  }

  &__right {
    line-height: 1.57;
    width: 38%;

    > div {
      margin-left: 24px;
    }

    @include media('>=medium') {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    @include media('<=380px') {
      font-size: 10px;
    }
  }

  &__post-election-header {
    width: 100%;
    justify-content: center;

    > div {
      text-align: center;
    }
  }

  &__diff {
    font-size: 44px;
    line-height: .5;
    margin-right: 16px;
  }
}
