@import "fonts";
@import "vars";

@mixin body-font {
  font-family: $font-opensans;
  color: white;
}

@mixin all-caps-subhead {
  @include body-font;

  color: white;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.7px;
  line-height: 1.83;
  text-align: center;
  text-transform: uppercase;
}

.election-promo {
  font-family: $font-opensans;
  background-color: $col-lightblue;
  display: flex; flex-direction: column;

  @include media('>=medium') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.election-promo__top {
  display: flex;
  align-items: center;

  flex-basis: 100%;
  padding: 16px;

  @include media(">=medium") {
    justify-content: flex-end;
    flex-basis: 50%;
    padding: 40px 48px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 550px;
  }
}

.election-promo__top-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.election-promo__logo {
  margin-right: 16px;
}

.election-promo__logo a {
  width: 88px;
  height: 88px;
  display: block;
}

.election-promo__logo img {
  width: 100%;
}

.election-promo .election-promo__news {
  @include body-font;

  font-family: $font-montserrat;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.2;

  @include media(">=medium") {
    font-size: 30px;
    line-height: 1;
  }
}

.election-promo__countdown {
  @include body-font;
  display: flex;
  align-items: center;
}

.election-promo__countdown svg {
  fill: white;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.election-countdown__left {
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid white;
  line-height: 1;

  @include media(">=small") {
    font-size: 16px;
  }

  @include media(">=medium") {
    font-size: 24px;
  }
}

.election-countdown__left .election-countdown__diff {
  font-weight: bold;
  margin-right: 5px;
}

.promo-opt-in {
  background-color: $col-darkblue;
  flex-direction: column;
  justify-content: center;

  flex-basis: 100%;
  padding: 16px 32px 24px;

  @include media(">=medium") {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    padding: 16px 32px;
  }
}

.promo-opt-in .nypr-input-footer .nypr-input-error {
  @include body-font;

  font-size: 12px;
  font-weight: 600;
  font-style: italic;

  padding: 0;
}

.promo-opt-in .nypr-input-label {
  display: none;
}

.promo-opt-in .nypr-input-footer {
  margin-bottom: 0;
}

.promo-opt-in__opt-in-tease {
  @include all-caps-subhead;
  margin-bottom: 16px;

  @include media(">=medium") {
    margin-bottom: 8px;
    text-align: left;
  }
}

.promo-opt-in__legal-checkbox {
  display: flex;
  line-height: 1.33;
  justify-content: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @include media(">=medium") {
    justify-content: left;
  }

  // Hide the check by default
  & input[type="checkbox"] + label::after {
    content: none;
  }

  // Display when checked
  & input[type="checkbox"]:checked + label::after {
    content: ""
  }

  // Display when checked
  & input[type="checkbox"]:focus + label::before {
    box-shadow: 0px 0px 2px 2px gold;
  }
}

.promo-opt-in__legal-checkbox input[type="checkbox"] {
  opacity: 0;
}

.promo-opt-in__legal-checkbox a {
  color: white;

  border-bottom-color: white;
}

.promo-opt-in__legal-checkbox label {
  @include body-font;

  font-size: 12px;
  margin-left: 5px;
  padding-left: 3px;
  position: relative;


  &::before {
    border: 2px solid white;
    content: "";
    display: inline-block;
    height: 14px;
    left: -19px;
    position: absolute;
    top: 1px;
    width: 14px;
  }

  &::after {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    content: "";
    display: inline-block;
    height: 4px;
    left: -17px;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
  }

  @include media(">=medium") {
    &::before {
      left: -19px;
    }

    &::after {
      left: -17px;
    }
  }
}

.promo-opt-in .nypr-input {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
  font-family: $font-opensans;
  height: 24px;
  margin-right: 10px;
  margin-bottom: 8px;
  font-size: 14px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
}

.promo-opt-in__email-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  @include media(">=medium") {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
  }
}

.promo-opt-in__email-input {
  flex: 1;
  margin-right: 16px;

  @include media(">=medium") {
    flex: none;
  }
}

.election-promo button:disabled {
  opacity: 0.6;
  cursor: none;
  pointer-events: none;
}

.election-promo .promo-opt-in__submit-button {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: white;
  border-radius: 30px;
  border: 0;
  color: #333;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  transition: ease 0.2s;
  width: 30px;

  &:hover {
    background-color: rgb(200,200,255);
  }
}

.election-promo .fa-arrow-right {
  height: 15px;
  width: 15px;
}

.election-promo__close-button {
  position: absolute;
  color: white;
  padding: 5px 10px;
  right: 0;
  top: 0;
  cursor: pointer;

  svg {
    width: 12px;
    fill: white;
  }
}

.promo-opt-in__success-subhead {
  @include all-caps-subhead;

  @include media(">=medium") {
    text-align: left;
  }
}

.promo-opt-in__success-text {
  @include body-font;

  @include media("<medium") {
    text-align: center;
  }
}

.hidden {
  display: none;
}
