{{election-countdown unit='days' to='2018-11-06T06:00:00.000Z' promo=true}}

<p class="election-promo__news">
  {{chunkContent}}
</p>

<a class="election-promo__view-guide button" href="#">
  + View Our Guide
</a>

<a class="election-promo__get-updates button" href="#">
  + Get Updates
</a>
